.order-status__wrapper 
    include ../mixin/header_banner
    .order-status__section
        .status-title Заказ успешно оформлен
        .order-number Номер вашего заказа: 2312212
        .status-info Проверить статус вашего заказа можно в личном кабинете 
        .btn-order__status Вернуться на главную