doctype html
html(lang="ru")
    head
        include mixin/meta
        title WELCOME
        include mixin/styles
    body.auth
        include mixin/mixin
        include header/header
        main
            include auth/auth
        include footer/footer
        include mixin/modals
        include mixin/scripts
    link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css")
    script(src="https://unpkg.com/swiper/swiper-bundle.js")
    script(src='js/auth.min.js')