doctype html
html(lang="ru")
    head
        include mixin/meta
        include mixin/styles
    body.order
        include mixin/mixin
        main
            .wrapper
                include order/order
    include mixin/scripts

    script(src='js/order.min.js')
