.auth__header
    .wrapper
        .auth__header-content Добро пожаловать в NotBadGoods
.wrapper
    .auth__content
        .auth__tabs
            .auth__tabs-item.auth__tabs-item--left.link.active Вход
            .auth__tabs-item.auth__tabs-item--right.link Регистрация
        .auth__forms
            form.auth__form.auth__form--left
                .auth__form-title Вход
                input.input(placeholder='Email')
                input.input(placeholder='Пароль')
                a.link.auth__link Забыли пароль?
                .auth__btn.button--colored Войти
            form.auth__form.auth__form--right
                .auth__form-title Регистрация
                input.input(placeholder='Email')
                input.input(placeholder='Имя')
                input.input(placeholder='Пароль')
                input.input(placeholder='Повторите пароль')
                .auth__btn.button--colored Зарегистрироваться