.products-listing{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 56px;

  &--one-row{
    @media (max-width: 1397px) {
      .products-listing__item {
        &:nth-child(4){
          display: none;
        }
      }
    }
    @media (max-width: 1065px) {
      gap: 20px;
      .products-listing__item {
        &:nth-child(3) {
          display: none;
        }
      }
    }

    @include tablet_old {
      gap: 16px;
      .products-listing__item {
        &:nth-child(3),
        &:nth-child(4){
          display: flex;
        }
      }

      @media (max-width: 723px) {
        .products-listing__item {
          &:nth-child(4){
            display: none;
          }
        }
      }

      @media (max-width: 543px) {
        .products-listing__item {
          &:nth-child(3) {
            display: none;
          }
        }
      }

      @media (max-width: 375px) {
        gap: 0px;
      }
    }
  }


  &--two-rows{
    flex-wrap: wrap;

    @media (max-width: 1397px) {
      .products-listing__item {
        &:nth-child(7),
        &:nth-child(8) {
          display: none;
        }
      }
    }
    @media (max-width: 1065px) {
      gap: 20px;
      .products-listing__item {
        &:nth-child(5),
        &:nth-child(6) {
          display: none;
        }
      }
    }
    @include tablet_old {
      gap: 16px;
      .products-listing__item {
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(5),
        &:nth-child(6){
          display: flex;
        }
      }

      @media (max-width: 735px) {
        .products-listing__item {
          &:nth-child(7),
          &:nth-child(8) {
            display: none;
          }
        }
      }

      @media (max-width: 551px) {
        .products-listing__item {
          &:nth-child(5),
          &:nth-child(6) {
            display: none;
          }
        }
      }

      @media (max-width: 375px) {
        gap: 0px;
      }
    }
  }
}

.arrow-btns{
  display: flex;
  gap: 11px;
  width: min-content;

  &__item{
    height: 40px;
    width: 40px;
    border: 1px solid $black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border .3s;
    &:before{
      transition: color .3s;
    }

    &:hover{
      border-color: $active;
    }

    &--right{
      &:before{
        transform: rotate(180deg);
      }
    }


  }
  @include tablet_old{
    width: calc(100% - 32px);
    justify-content: space-between;
    &__item{
      height: 24px;
      width: 24px;
    }
  }
}

.product{
  padding: 28px 24px 18px;
  width: 322px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
  background-color: white;
  cursor: pointer;

  &:hover{
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.15));
  }

  &__likes{
    margin-left: auto;
    font-weight: 300;
    display: flex;
    margin-bottom: 25px;
    &:before{
      line-height: 24px;
      order: 10;
      margin: 0 0 0 5px;
    }
  }

  &__image{
    display: flex;
    width: 232px;
    height: 240px;
    margin-bottom: 22px;
  }

  &__footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__description{
    font-family: $font_m;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }

  &__brand{
    font-weight: bold;
  }

  &__price{
    font-family: $font_m;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-top: auto;
  }

  @include tablet_old {
    width: 164px;

    &__likes{
      line-height: 22px;
      margin-bottom: 9px;
      &:before{
        line-height: 22px;
      }
    }

    &__image{
      height: 134px;
      width: 134px;
      margin-bottom: 9px;
    }

    &__footer{
      flex-direction: column;
    }

    &__description{
      font-size: 14px;
      line-height: 20px;
    }

    &__price{
      font-size: 16px;
      line-height: 20px;
    }

  }
}

.button{

  &--colored{
    padding: 13px 24px;
    background-color: $black;
    color: white;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    transition: background-color .3s;
    width: fit-content;
    cursor: pointer;
    text-align: center;
    &:hover{
      background-color: $active;
    }
  }


  &--transparent{
    padding: 13px 24px;
    background-color: transparent;
    color: white;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid white;
    transition: color .3s, border .3s;
    width: fit-content;
    cursor: pointer;
    text-align: center;
    &:hover{
      color: $active;
      border-color: $active;
    }
  }
}

.input{
  border: 1px solid $black;
  padding: 13px 18px;
  color: $black;

  &::placeholder{
    color: $grey_text;
  }
}

.breadcrumps{
  display: flex;
  &__item{
    text-transform: capitalize;
    font-size: 14px;
    line-height: 17px;
  }
  &__arrow{
    transform: rotate(180deg);
    font-size: 14px;
    line-height: 17px;
  }
}

.dropdown{
  width: fit-content;

  &__input{
    position: relative;
    &-item{
      cursor: pointer;
    }
    &:before{
      position: absolute;
      transform: translateY(-50%) rotate(-90deg);
      top: 50%;
      right: 14px;
      transition: .3s;
      cursor: pointer;
    }
  }

  &__container{
    max-height: 0;
    transition: max-height .3s;
    overflow: hidden;
    width: 100%;

    &-content{
      padding: 5px 14px;
      border: 1px solid $black;
    }
    &-item{
      padding: 5px 0;
    }
  }

  &.opened{
    .dropdown{
      &__container{
        max-height: 500px;
      }
      &__input{
        &:before{
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
  }
}