.modal{
  display: none;
  flex-direction: column;
  z-index: 999999;
  //background-color: $color_Alabaster;
  padding: 30px 40px;
  border-radius: 5px;
  position: relative;

  &__close{
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
    font-size: 20px;
  }

  &__title{
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    padding: 10px;
    //border: 1px solid $color_Black;
    border-radius: 5px;
  }

  &__controls{
    display: flex;
    justify-content: center;
  }

  &__button{
    width: 200px;
    margin: 0 20px;
  }


  &.opened-modal{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-overlay{
    display: none;
    //background-color: $color_Black;
    opacity: .3;
    z-index: 99999;
    &.opened-overlay{
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}