.header-banner 
    a.header-banner__link
        img.header-banner__icon(src='images/back.svg')
        .header-banner__text Вернуться в корзину
    a.header-banner__index-link(href="/")
        img.header-banner__logo(alt='NBGoods logo', src='images/logo-white.svg')