.modal-overlay

.modal(modal-id='test-modal')
    .modal__close.close-modal.icon-cross
    h3.modal__title This is test modal
    .modal__content
        p We can put here anything we gonna need
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur assumenda consectetur dignissimos doloremque dolorum enim fugiat illum incidunt maxime minima, nemo quibusdam quidem quisquam quo quod rerum sed voluptatem!
        img(src='images/product_1.jpg')
    .modal__controls
        //+button(false, 'modal__button close-modal', 'Confirm', false)
        //+button(true, 'modal__button close-modal', 'Cancel', false)