script(src="js/libs/jquery.min.js" defer)
script(src="js/main.min.js" defer)
script(src="js/header.min.js" defer)
script(src="js/modals.min.js" defer)
//script(src="js/libs/toastr.min.js" defer)
//script(src="js/libs/overlayScrollbars.min.js" defer)
script(src="js/libs/pagination.min.js" defer)