.registration-wrapper
    include ../mixin/header_banner
.registration-section__wrapper 
    .registration-section__title Зарегистрируйтесь
    input(class="registration-section__item" type="text" required placeholder="email")
    input(class="registration-section__item" type="text" required placeholder="Имя")
    input(class="registration-section__item" type="text" required placeholder="Пароль")
    .btn-registration Зарегистрироваться
    .sign-in__text Уже есть аккаунт? 
        a(href="#") Авторизоваться