.registration-wrapper
    .registration-banner 
        .registration-banner__img
            .registration-banner__block
                .row1
                    .icon-back
                        img.icon-back(src='images/back.svg')
                    .back-in-basket Вернуться в корзину
                .order-logo
                    img.order-logo(alt='NBGoods logo', src='images/logo-white.svg')
    .registration-section__wrapper 
        .registration-section__title Зарегистрируйтесь
        input(class="registration-section__item" type="text" required placeholder="email")
        input(class="registration-section__item" type="text" required placeholder="Имя")
        input(class="registration-section__item" type="text" required placeholder="Пароль")
        .btn-registration Зарегистрироваться
        .sign-in__text Уже есть аккаунт? 
            a Авторизоваться