.order-wrapper 
    include mixin/header_banner
    .order-cart-amount__row 
        .amount-row__block-left
            .order-basket Детально 
            .order-basket__icon 
            button.order-show-items#order-show-items 
                img(src='images/arrow-top.svg')
        .order-cart-amount 17 300 &#8381
    .order-checkout__wrapper 
        .checkout-column
            .order-checkout__main-title Оформление заказа
            .order-checkout__section 
                .order-checkout__row
                    .order-checkout__title Аккаунт
                    .order-checkout__change изменить        
                .order-checkout__info.order-checkout__border-bottom Максим Красный, kras@gmail.com
                .order-checkout__row
                    .order-checkout__title Способ получения
                    .order-checkout__change изменить
                .order-checkout__info Boxberry
                    .order-checkout__title Адрес
                    .order-checkout__info.order-checkout__border-bottom Россия, г. Воронеж, 123123, ул. Ленина, д. 44 
                .order-checkout__row-payment
                    .order-checkout__title Оплата: 
                    .order-checkout__info Картой онлайн
            .btn-payment__wrapper 
                .btn-payment Перейти к оплате
        .in-busket__wrapper#items_list 
            .in-busket__wrapper-center
                .in-busket__item-wrapper
                    .in-busket__item-section 
                        .in-busket__item-img
                            img.item-img(src='images/vintage.svg')
                            .in-busket__item-number
                                .item-number__num 1
                        .in-busket__item-info
                            .item-info__row 
                                .item-info__row Prada
                                .item-info__row 9 800 &#8381
                            .item-info__block-text 
                                .block-text__condition Состояние: Никогда не носил
                                .block-text__size Размер: L
                    .in-busket__item-section 
                        .in-busket__item-img 
                            img.item-img(src='images/vintage.svg')
                            .in-busket__item-number
                                .item-number__num 2
                        .in-busket__item-info
                            .item-info__row 
                                .item-info__row Prada
                                .item-info__row 9 800 &#8381
                            .item-info__block-text 
                                .block-text__condition Состояние: Никогда не носил
                                .block-text__size Размер: L
                .busket-sum 
                    .busket-sum__row 
                        .title Промежуточный итог:
                        .sum 17 300 &#8381
                    .busket-sum__row 
                        .title Всего:
                        .sum 17 300 &#8381
                             



 
