.registration-wrapper {
    width: 100%;
}
.registration-section__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 152px;
}
.registration-section__title {
    font-size: 1.5rem;
    margin-bottom: 32px;
}
.registration-section__item {
    width: 304px;
    height: 48px;
    border: 1px solid black;
    margin-bottom: 16px;
    padding-left: 16px;
}
.btn-registration {
    width: 304px;
    height: 48px;
    background-color: black;
    color: white;
    padding: 13px 54px 13px 54px;
    font-size: 1.125rem;
    margin-bottom: 32px;
}
a {
    text-decoration: underline;
    color: #AA8372;
}