mixin brand_slider_item()
    .swiper-slide
        a(href='#')
            img(src='https://brand-centr.com/image/cache/catalog/fredperry_brandcentr-700x700.jpg')

section.banner
    .banner__bg-top.index__bg-light
    .banner__bg-bottom.index__bg-grey
    .banner__content
        .wrapper
            .banner__promos.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        a(href='#')
                            img(src='https://topspb.tv/media/768x432/news_covers/kotes285erz.jpg')
                    .swiper-slide
                        a(href='#')
                            img(src='https://ichef.bbci.co.uk/news/640/cpsprodpb/14A82/production/_116301648_gettyimages-1071204136.jpg')
                    .swiper-slide
                        a(href='#')
                            img(src='https://cdn1.img.sputnik-ossetia.ru/images/954/65/9546572.jpg')
                .swiper-pagination
            .banner__brands.swiper-container
                .swiper-wrapper
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()
                    +brand_slider_item()