   
    .order-wrapper {
        width: 100%;
    }
    .order-cart-amount__row {
        display: flex;
        justify-content: space-between;
        text-align: center;
        height: 64px;
        background-color: #F5F5F5;
        padding: 20px 14px 20px 16px;
        margin: 0 -40px 0 -40px;
    }
    .amount-row__block-left {
        display: flex;
        
    }
    .order-basket {
        margin-right: 10px;
    }
    .order-show-items {
       background: none;
    }
    .order-cart-amount {
        font-weight: bold;
    }
    .order-checkout__wrapper {
        padding-top: 32px;
        margin: auto;
        position: relative;
    }
    
    
    .order-checkout__row {
        display: flex;
        justify-content: space-between;
    }
    .order-checkout__main-title {
        font-family: Cormorant Garamond;
        font-weight: Medium;
        font-size: 1.5rem;
        margin-bottom: 32px;
    }
    .order-checkout__change {
        font-size: 0.875rem;
        color: #AA8372;
    }
    .order-checkout__section  {
        height: 264px;
        border: 1px solid #252525;
        padding: 15px 15px 21px 16px;
        margin-bottom: 40px;
    }
    .order-checkout__title {
        color: #AEAEAE;
        font-size: 1rem;
        margin-right: 5px;
    }
    .order-checkout__info {
        font-size: 1rem;
    }
    .order-checkout__border-bottom {
        border-bottom: 1px solid #C1C1C1;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    .order-checkout__row-payment{
        display: flex;
    }
    .btn-payment {
        width: 100%;
        height: 48px;
        background-color: #252525;
        color: white;
        font-weight: 500;
        font-size: 1.125rem;
    }

    .in-busket__wrapper-center {
        margin: 0 auto;
        background-color: white;  
        box-shadow: 0px 6px 10px 4px rgba(29, 29, 29, 0.1);
        padding: 32px 16px 24px 16px;
        width: 100%;
    }
    .in-busket__wrapper {
        width: 100%;
        display: none;
        flex-direction: column;
        height: 264px;
        position: absolute;
        z-index: 1000;
        top: 0;
        border: 0;
    }
    .in-busket__wrapper.opened{
        display: flex;
    }
    .in-busket__item-section {
        display: flex;
        margin-bottom: 20px;
    }
    .in-busket__item-img {
        margin-right: 16px;
        position: relative;
    }
    .in-busket__item-number {
        position: absolute;
        display: block;
        width: 26px;
        height: 26px;
        border: 1px solid #AA8372;
        border-radius: 50%;
        right: -13px;
        top: -13px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    .item-number__num {
        position: absolute;
        color: #AA8372;
    }
    .item-info__row {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 1rem;
    }
    .item-info__block-text {
        font-size: 1rem;
    }


@media screen and (min-width: 541px) {
    .order-cart-amount__row {
        display: none;
    }
    .in-busket__wrapper {
        display: block;
        width: 40%;
        flex-direction: column;
        height: 264px;
        position: static;
        border: 0;
    }
    .in-busket__wrapper-center {
        box-shadow: none;
        padding: 15px 0 20px 57px;
         
    }
    .order-checkout__wrapper {
        display: flex;
        padding-top: 56px;
    }
    .checkout-column {
        width: 60%;
        border-right: 1px solid #C1C1C1;
        padding-right: 90px;
        padding-left: 40px;
    }
    .btn-payment__wrapper {
        display: flex;
    }
    .btn-payment {
        width: 252px;
        height: 48px;
        padding: 13px 41px 13px 41px;
        margin-left: auto;
    }
    .in-busket__item-section:last-child {
        border-bottom: 1px solid #C1C1C1; 
        padding-bottom: 25px;
    }
    .busket-sum__row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #C1C1C1; 
        padding-bottom: 25px;
        margin-top: 20px;
    }
    .title {
        font-size: 1rem;
    }
    .sum {
        font-size: 1.25rem;
        font-weight: 700;
    }
}