footer.footer
    .wrapper
        .footer__column
            .footer__column-label Покупка
            .footer__column-list
                a.footer__column-item.link(href='#') Отслеживание заказа
                a.footer__column-item.link(href='#') Гарантия подлинности
                a.footer__column-item.link(href='#') Возврат
                a.footer__column-item.link(href='#') Оплата
                a.footer__column-item.link(href='#') Доставка
        .footer__column
            .footer__column-label Помощь
            .footer__column-list
                a.footer__column-item.link(href='#') FAQ
                a.footer__column-item.link(href='#') Публичная оферта
                a.footer__column-item.link(href='#') Пользовательское соглашение
                a.footer__column-item.link(href='#') Партнерская программа
                a.footer__column-item.link(href='#') Политика конфиденциальности
        .footer__column
            .footer__logo NotBadGoods
            .footer__date © 2021-2021