- var sortingTypes = ['По возрастанию', 'По убыванию', 'По цене', 'По хуйне']

.catalog__page
    +breadcrumps('catalog__breadcrumps', 'Каталог', 'Аналог', 'Сосалог')
    h1.catalog__title Каталог
    .catalog__sort Сортировать по
        +dropdown(sortingTypes)
    .catalog__pagination#pagination
    .catalog__content
        .btn-filter Фильтр
        .btn-sort Сортировка
    .catalog-container        
        .catalog-filter-column
            .filter-title Фильтр
            .filter-section
                .filter-section-top 
                    .filter-section-title Категория
                    .filter-section-icon
                .filter-content.filter-content--column
                    .filter-container
                        input(class="filter-checkbox" type="checkbox" name="Аксессуары" id="Accessories")
                        label(for="Accessories") Аксессуары
                    .filter-container
                        input(class="filter-checkbox" type="checkbox" name="Сумки" id="Handbags")
                        label(for="Handbags") Сумки
                    .filter-container
                        input(class="filter-checkbox" type="checkbox" name="Одежда" id="Cloth")
                        label(for="Cloth") Одежда
                    .filter-container
                        input(class="filter-checkbox" type="checkbox" name="Обувь" id="Shoes")
                        label(for="Shoes") Обувь
            .filter-section
                .filter-section-top
                    .filter-section-title Размеры одежды 
                    .filter-section-icon
                .filter-content 
                    .filter-content--size 
                        a.filter-link XXS 
                    .filter-content--size
                        a.filter-link XS 
                    .filter-content--size
                        a.filter-link S 
                    .filter-content--size
                        a.filter-link M  
                    .filter-content--size
                        a.filter-link L 
                    .filter-content--size
                        a.filter-link XL 
                    .filter-content--size     
                        a.filter-link XXL
            .filter-section
                .filter-section-top
                    .filter-section-title Вид одежды
                    .filter-section-icon
                .filter-content.filter-content--column 
                    .filter-container
                        input(class="filter-checkbox" type="checkbox" name="Пальто" id="Coat")
                        label(for="Coat") Пальто
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="Куртки" id="Jackets")
                        label(for="Jackets") Куртки
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="Джинсы" id="Jeans")
                        label(for="Jeans") Джинсы
                    .filter-container   
                        input(class="filter-checkbox" type="checkbox" name="Трикотаж и кофты" id="Jersey and sweaters")
                        label(for="Jersey and sweaters") Трикотаж и кофты
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="Поло" id="Polo")
                        label(for="Polo") Поло
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="Футболки" id="T-shirts")
                        label(for="T-shirts") Футболки
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="Рубашки" id="Shirts")
                        label(for="Shirts") Рубашки
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="Шорты" id="Shorts")
                        label(for="Shorts") Шорты
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="Костюмы" id="Costumes")
                        label(for="Costumes") Костюмы
            .filter-section
                .filter-section-top
                    .filter-section-title Бренды
                    .filter-section-icon
                .filter-content.filter-content--column 
                    input(class="search-by-brands" type="text")
                    .filter-container
                        input(class="filter-checkbox" type="checkbox" name="A Bathing Ape" id="A Bathing Ape")
                        label(for="A Bathing Ape") A Bathing Ape
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="APC" id="APC")
                        label(for="APC") APC
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="Acne Studios" id="Acne Studios")
                        label(for="Acne Studios") Acne Studios
                    .filter-container   
                        input(class="filter-checkbox" type="checkbox" name="A Bathing Ape" id="A Bathing Ape")
                        label(for="A Bathing Ape") A Bathing Ape
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="APC" id="APC")
                        label(for="APC") APC
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="Acne Studios" id="Acne Studios")
                        label(for="Acne Studios") Acne Studios
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="A Bathing Ape" id="A Bathing Ape")
                        label(for="A Bathing Ape") A Bathing Ape
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="APC" id="APC")
                        label(for="APC") APC
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="Acne Studios" id="Acne Studios")
                        label(for="Acne Studios") Acne Studios
            .filter-section
                .filter-section-top
                    .filter-section-title Цвета
                    .filter-section-icon
                .filter-content 
                    .filter-color-item.filter-color-item-beige
                    .filter-color-item.filter-color-item-black
                    .filter-color-item.filter-color-item-blue
                    .filter-color-item.filter-color-item-brown
                    .filter-color-item.filter-color-item-purple
                    .filter-color-item.filter-color-item-brown2
                    .filter-color-item.filter-color-item-white
                    .filter-color-item.filter-color-item-grey
                    .filter-color-item.filter-color-item-beige2
                    .filter-color-item.filter-color-item-green
                    .filter-color-item.filter-color-item-red
                    .filter-color-item.filter-color-item-green2
                    .filter-color-item.filter-color-item-blue2
                    .filter-color-item.filter-color-item-yellow
                    .filter-color-item.filter-color-item-blue3
                    .filter-color-item.filter-color-item-yellow2
                    .filter-color-item.filter-color-item-pink
                    .filter-color-item.filter-color-item-purple2
                    .filter-color-item.filter-color-item-multy
                    .filter-color-item.filter-color-item-white3
                    .filter-color-item.filter-color-item-no
            .filter-section
                .filter-section-top
                    .filter-section-title Цена
                    .filter-section-icon
                .filter-content 
                    .range-filter
                        .price-controls
                            p От
                            input(class="min-price" type="text" name="От" id="from")
                            label(for="from")
                            p До
                            input(class="max-price" type="text" name="До" id="before")
                            label(for="before")
                            input(class="range-filter-checkbox" type="checkbox")
                        
                        .range-controls
                            .scale
                                .min-toggle
                                .max-toggle



                input(type="range" min="5" max="10" step="0.01")

            .filter-section
                .filter-section-top
                    .filter-section-title Состояние
                    .filter-section-icon
                .filter-content.filter-content--column 
                    .filter-container
                        input(class="filter-checkbox" type="checkbox" name="Никогда не носил, с биркой" id="with a tag")
                        label(for="with a tag") Никогда не носил, с биркой
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="Ни разу не надвевал" id="I never put it on")
                        label(for="I never put it on") Ни разу не надвевал
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="Очень хорошее состояние" id="Very good condition")
                        label(for="Very good condition") Очень хорошее состояние
                    .filter-container   
                        input(class="filter-checkbox" type="checkbox" name="Хорошее состояние" id="Good condition")
                        label(for="Good condition") Хорошее состояние
                    .filter-container    
                        input(class="filter-checkbox" type="checkbox" name="Удовлетворительный" id="Satisfactory")
                        label(for="Satisfactory") Удовлетворительный  
            .filter-controls
                        a.filter-btn Очистить
                        a.filter-btn.filter-btn--black Применить
        .catalog-product-list
            .sec__listing.products-listing.products-listing--two-rows
                +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
                +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
                +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
                +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
                +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
                +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
                +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
                +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
                +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
                +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
                +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
                +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')