- var sortingTypes = ['По возрастанию', 'По убыванию', 'По цене', 'По хуйне']

.catalog__page
    +breadcrumps('catalog__breadcrumps', 'Каталог', 'Аналог', 'Сосалог')
    h1.catalog__title Каталог
    .catalog__sort Сортировать по
        +dropdown(sortingTypes)
    .catalog__pagination#pagination
    .catalog__content
        .btn-filter Фильтр
        .btn-sort Сортировка

        .filter-stction Фильтр

        .category-title Категория
        .category-content Аксессуары Сумки Одежда Обувь

        .size-section Размеры одежды
        .size-content XXS XS S M L XL XXL

        .view-section Вид одежды
        .view-content 
        input(type="text")
        input type="checkbox" name="A Bathing Ape" id="A Bathing Ape"
        label for="A Bathing Ape"
        input type="checkbox" name="APC" id="APC"
        label for="APC"
        input type="checkbox" name="Acne Studios" id="Acne Studios"
        label for="Acne Studios"
        
        .colors-section Цвета
        .colors-content 

        .price-section Цена
        .price-content 
        input type="range" min="5" max="10" step="0.01"
        
        .state-section Состояние
        .state-content 
        .btn-state-clear Очистить
        .btn-state-apply Применить

        .sec__listing.products-listing.products-listing--two-rows
            +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
            +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
            +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
            +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
            +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
            +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
            +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')
            +product_item('products-listing__item sec__listing-item', '2', 'images/product_item.png', 'Canada goose', 'Куртка', 'XL', '9 500')